body {
    font-optical-sizing: auto;
}

div {
    font-size: 1.2rem;

}



#title {
    line-height: 1.2rem;
    font-weight: 100;
    font-size: 1.8rem;
    padding: 10px 0 0 0;
}

#title strong {
    font-weight: 600;
    line-height: 2rem;
}

#subtitle {
    line-height: .5rem;
    font-weight: 100;
    margin: 0;
}

#tab-row {
    display: grid;
    width: calc(100% - 40px);
    grid-gap: 5px;
    grid-template-columns: 33% 33% 33%;
    position: fixed;
    /* left: 0; */
    top: 37vh;
}

#bubble-toggle {
    position: fixed;
    font-size: .9rem;
    top: 55vh;
    right: 5%;
    width: 40px;
    line-height: .8em;
    z-index: 999999;
}

#tab-row div{
    font-size: 1.1rem;
    text-align: center;
    height: 40px;
    padding: 8px 0 0 0;
    border: solid black 1px;
    border-radius: 5px;
    background-color: lightgrey;
    opacity: .5;
}

#title-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 15vh;
    padding: 10px 0 0 0;
    width: 100%;
    margin: auto;
}

#input-wrapper {
    position: fixed;
    top: 23.5vh;
    width: calc(100% - 40px);
}

#job-loss-label {
    font-size: 2rem;
    margin: 0;
}

.grid-cell p {
    margin: 0;
}

.grid-cell small {
    position: relative;
    /* left: 40px; */
    bottom: 5px;
    font-size: .9rem;
}


#industry-selector-wrapper {
    margin: auto;
    width: calc(100% - 40px);
    position: fixed;
    top: 16vh;
    height: 5vh;
    z-index: 999999;
}

#bubble-chart {
    width: calc(100% - 20px);
    position: fixed;
    bottom: 25vh;
    left: 18%;
    z-index: 0;
    opacity: .9;
}


.hidden {
    visibility: hidden;
}

#main-wrapper {
    padding: 20px;
    display: grid;
    height: 100vh;
    max-width: 100%;
    text-align: center;
    grid-template-rows: 10% 10% 50% 20%;
    margin: auto;
}

#main-grid {
    position: fixed;
    top: 47vh;
    height: 43vh;
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: 40% 60%;
}

.grid-cell {
    font-size: 1.3rem;
}

.grid-column {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
}

.grid-column h3 {
    text-align: center;
}

.ui.input > input {
    text-align: center;
}

.row-header {
    font-size: 1.1rem;
    width: 100%;
    text-align: right;
}

#data-source {
    font-weight: 100;
}

#footer {
    position: fixed;
    bottom: 3vh;
    width: calc(100% - 40px);

}
div.tooltip {	
    position: fixed;
    text-align: center;			
    padding: 5px;
    width: 100px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    z-index: 999999;			
  }

